@import "../../../shared/utils/util.colors.scss";

section.keep-in-touch-board {
    padding: .9em;
    p.title {
        font-size: 1.5em;
        font-family: roboto-light;
        color: $orange;
        letter-spacing: .3em;
        margin-top: .3em;
        margin-bottom: 1.8em;
        text-align: center;
    }

    p.subtitle {
        font-size: 1.1em;
        font-family: roboto-bold;
        color: black;
        margin-bottom: .6em;
        letter-spacing: .2em;
    }

    p.into {
        color: gray;
        line-height: 1.6em;
        font-size: .9em;
    }

    section.info {
        margin-top: 1.6em;
        i.contact-info-icon {
            font-size: 2em;
            font-weight: lighter;
            color: $color_6;
            margin-right: .9em;
        }

        section.contact {
            p.name {
                font-family: roboto-bold;
                color: rgba(0, 0, 0, 0.616);
                font-size: .9em;
            }

            p.detail {
                color: gray;
                margin-top: .2em;
                font-size: .9em;
            }
        }
    }
}