@import "../../utils/util.colors.scss";

$text-color: rgb(46, 81, 128);
$bg-color: rgb(145, 181, 228);

header {
  &.profile-header {
    min-height: 9em;
    align-items: flex-start;
    justify-content: flex-start;

    background-color: $color_3;
    background-image: url("../../../../../assets/bgs/annie-spratt-M6e70Ufd4kc-unsplash.jpg");
    background-position-y: 11em;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  &.balance-header {
    background-color: $color_3;
    background-image: url("../../../../../assets/bgs/annie-spratt-M6e70Ufd4kc-unsplash.jpg");
    background-position-y: 13em;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  i.options-icon {
    color: $color_1;
    font-size: 1.6em;
  }

  i.nav-icon {
    color: $color_1;
  }
}

// header for unathenticated view
.unauth-header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  font-family: raleway-black;
  color: $text-color;
  background-color: $blue;

  h3 {
    font-size: 1.6rem;
  }

  section:first-child {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding: 1rem;

    i {
      cursor: pointer;
    }
  }

  section:nth-child(2) {
    display: none;
  }

  @media (min-width: 468px) {
    section:nth-child(2) {
      display: flex;
      gap: 1rem;

      a {
        text-decoration: none;
        color: $text-color;
        text-transform: capitalize;
        font-weight: 700;
        font-size: 1.2rem;
      }
    }

    .unauth-breadcrumb-menu {
      display: none;
    }
  }
}

section.user-detail {
  section {
    p.username {
      font-size: 1.4em;
      font-family: raleway-black;
      color: $blue;
    }
  }

  section.balance-board {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.658);
    margin: 0 0.9em;
    border-radius: 0.6em;
    p.title {
      color: gray;
      font-size: 0.9em;
    }

    p.amount {
      font-family: roboto-bold;
      color: $orange;
      font-size: 0.9em;
    }

    button.fund-wallet-btn {
      background-color: $orange;
      color: white;
      padding: 0.5em 0.8em;
      font-size: 0.9em;
      margin-right: 0.9em;
    }

    i.commission-withdrawal-icon {
      color: $blue;
    }

    i.pi-spinner {
      font-size: 1.2em;
    }

    button.commission-withdrawal-btn {
      background-color: $blue;
      color: white;
      padding: 0.5em 0.8em;
      font-size: 0.9em;
      margin-right: 0.3em;
    }

    button.no-mr {
      margin-right: 0em;
    }
  }
}

section.wallet-balance-details {
  p.title {
    color: gray;
    font-size: 0.9em;
  }

  p.amount {
    font-family: roboto-bold;
    color: $orange;
    font-size: 0.9em;
  }
}
