<section class="flex flex-column align-items-center justify-content-center mt-5 bottom-0 shadow-3 p-3">
    <p class="footer-title fadein ">CLASSYEMPIRE ENTERPRISE</p>
    <section class="navs-container flex flex-wrap align-items-center justify-content-center">
        <a *ngFor="let nav of footerNavs" href="{{nav.url}}" class="fadein ">{{nav.name}}</a>
    </section>
    <p class="copyright fadein ">&copy; 2022 CEE. All rights reserved</p>

    
    <!-- Bytangle Trademark -->
    <a 
        style="color:rgba(255, 255, 255, 0.192);text-align:center; justify-self: flex-end; margin-top: .9em; font-size: .9em;" 
        class="who-built-this" href="https://wa.me/message/6727FL6BNOU5E1">
    Who built this?</a>
</section>