$blue: #55a3af;
$blue_dark: #0c1c1f;
$green: #72af54;
$green_dark: #0a1404;
$purple: #7854af;
$purple_dark: #2e1752;
$orange: #fd815b;
$orange_dark: #160804;

$color_1: #f89b50;
$color_2: #e96b3c;
$color_3: #e0eae9;
$color_4: #60f9a5;
$color_5: #fbd99f;
$color_6: #d7d8cc;
